body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
/*    background-color: #ccc;*/
}
table {
    width: 100%;
}

td,th {
    border:none;
    padding: 7px;
}

thead {
    background-color: #09e;
    color: #fff;
}


.border {
    border:2px solid #09e;
}

.top-radius {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-collapse: separate;
}

.bottom-radius {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-collapse: separate;
}

.ro {
    border-top: none;
    border-left: none;
    border-right: none;
}

.slick-prev:before, .slick-next:before {
    color: #07e !important;
}

.xfa {
    position: absolute;
    /*top: 50%;*/
}

#step-1 {
    margin: 30px;
}


#step-1 div {
    /*height: 300px;*/
    width: 800px;
    margin: 0px auto;
}

.panel-flat {
    max-width: 1100px;
    display: table;
    margin: 0 auto;
}


.slider-nav {
  height: 615px;
}



.form1 .header1 {
  color: #fff;
  background-color: #444;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.very-wide {
  width: 600px;
  font-size: 15px;
}
.wide {
  width: 350px;
}

.semi-wide {
  width: 160px;
}

input {
  width: 100px;
  background-color: #ffd;
  color: #333;
}

.border2top {
  border-top: 3px solid #000;
}
.border2LR {
  border-left: 3px solid #000;
  border-right: 3px solid #000;
}
.border2R {
  border-right: 3px solid #000;
}

.border2bottom {
  border-bottom: 3px solid #000;
}
.border2all {
  border: 3px solid #000;
}


.form1 input, #step-2 input{
  border: 1px dashed #000;
}

.gray td, .gray input {
  background-color: #ddd;
}

.gray input {
  font-weight: 600;
}
.gray2 td {
  background-color: #eee;
}

.top {
  vertical-align: top;
}

.t1 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
}

.t2 {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
}


.low td {
  padding-top: 0px;
  padding-bottom: 0px;
}
.center {
  text-align: center;
}


select.input-xxs {
    height: 26px;
    line-height: 24px;
}
.input-xxs {
    height: 26px;
    padding: 5px 10px;
    font-size: inherit;
    line-height: 1.6666667;
    border-radius: 2px;
}

.element {
    float: left;
    line-height: 28px;
}
.r-element {
    float: right;
    /*line-height: 28px;*/
}


.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-psgblue,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-psgblue {
  color: #fff;
  background: #09e;
}

.c-panel {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 4px;

}

.bootstrap-switch-wrapper {
  border-radius: 10px;
  height: 35px;
}


#deposit-slip {
  border-top: 1px dashed;
  margin: 20px -40px;
  padding: 10px 40px;
  display: none;
}

.minipad {
  text-align: center;
}
.minipad td , .minipad th {
  padding: 0px;
}

.midpad td, .midpad th {
  padding: 1px;
}

.blues {
  color: #09e;
}
.grays {
  color: #999;
}

.stepy-navigator {
  margin-top: 20px;
}

#pay_date_root, .picker--focused{
  top: unset;
}

.noedit {
  border: none !important;
  background-color: #fff !important;
}

.hebo th {
  border: 1px solid #09c;
  text-align: center;
}

th {
  text-align: center;
  font-weight: 600;
}

.right {
  text-align: right;
}



input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
.add-check {
  /*
  display: inline-block;
  height: 25px;
  width: auto;

  */
  padding: 2px 14px 2px 5px;
  border-radius: 3px;
  border: 1px solid #333 !important;
  margin: 3px 10px;
  background-color: #fff;
}
